* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
}

.btn{
    background-color: #2B4E84;
    height: 50px;
    font-size: 16px;
    color: aliceblue;
    border-radius: 15px;
    border: 0px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.btn:hover{
    background-color: #3E65A0;
}

main{
    margin: 30px;
}

.create-news-container{
    display: none;
}



footer{
    background-color: darkgray;
}