* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: darkgray;
}

.btn {
    background-color: #2B4E84;
    height: 50px;
    font-size: 16px;
    color: aliceblue;
    border-radius: 15px;
    border: 0px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.btn:hover {
    background-color: #3E65A0;
    cursor: pointer;
}

main {
    padding: 30px;
    background-color: aliceblue;
}

.create-news-container {
    display: none;
}

.news-item {
    padding: 15px;
    width: 100%;
    border: 1px solid #2B4E84;
    border-radius: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.usr-card-news-photo {
    height: 25px;
    width: 25px;
    border-radius: 50%;
}

label{
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
}

input{
    padding: 10px;
    border-radius: 15px;
    width: 600px;
    font-size: 16px;
    border: 1px, solid #2B4E84;
}

textarea{
    padding: 10px;
    border-radius: 15px;
    width: 400px;
    font-size: 16px;
    border: 1px, solid #2B4E84;
    width: 600px;
    height: 400px;
}